<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.25.4/dist/full.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="m-10">

    <div class="card lg:card-side card-bordered">
        <div class="card-body">
            <h2 class="card-title">Framer</h2>
            <p>I am the outer application JWT-FRAMER</p>
            <div class="divider"></div>
            <iframe style="height: 500px"></iframe>
        </div>
    </div>

</div>


<script th:inline="javascript">

    /*<![CDATA[*/

    var frameePort = /*[[${frameePort}]]*/;

    async function getSrc() {
        var jwt = /*[[${jwt}]]*/;
        const res = await fetch("http:///localhost:" + frameePort + "/jwt-framee", {
            method: 'GET',
            headers: {
                "Authorization": "Bearer " + jwt
            }
        });
        const blob = await res.blob();
        const urlObject = URL.createObjectURL(blob);
        document.querySelector('iframe').setAttribute("src", urlObject)
    }

    /*]]>*/

    getSrc();

</script>

</body>

</html>
